# Build directories
build/
out/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# IDE specific files
.vs/
.vscode/
.idea/
*.swp
*.swo

# Binary files
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.obj
*.o

# Debug files
*.pdb
*.ilk
*.exp

# OS specific
.DS_Store
Thumbs.db